#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
}


html, body {
  max-width: 100%;
  overflow: hidden;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

